@import "tailwindcss";

@theme {
  --color-primary: #008BD9;
  --color-secondary: #9199AF;
  --color-background: #ffffff;
  --color-contentBg: #F7F7FC;
  --color-textPrimary: #282D34;
  --color-textSecondary: #1B1913;
  --color-border: #F8DCD7;
  --color-rhythm: #6E7191;
  --color-independence: #475569;
  --color-cadetGrey: #94A3B8;
  --color-ufoGreen: #CFE7D2;
}
.center-v {
  display: flex;
  align-items: center;
}

.center-h {
  display: flex;
  justify-content: center;
}

.center-both {
  display: flex;
  align-items: center;
  justify-content: center;
}
